footer {
  background-color: lightgrey;
  text-align: center;
  /* clear: both; */
  /* position: relative; */
  /* height: 30px; */
  /* margin-top: auto;
  margin-bottom: 0; */
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
